@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: "Poppins", sans-serif;
*/

#header{
    border: 3px solid yellow;
    width: 100%;
}
.header_nav{
    border: 3px solid red;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    max-width: 1350px;
    margin: 0 auto;
}
.nav_ul{
    border: 3px solid yellowgreen;
    display: flex;
    margin: 0 auto;
    list-style: none;
    gap: 37px;
}
.nav_ul li a{
    color: #fff;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.nav_ul li a:hover{
    color: #eb1824;
}